<!-- HTML FORM REFERENCE: https://www.tutsmake.com/node-js-express-insert-data-from-form-into-mysql-database/ -->
<!-- READING DATA INTO HTML: https://codingstatus.com/how-to-display-data-from-mysql-database-table-in-node-js/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New User Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-link is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            TubeTrendz!
          </p>
          <a href="/userlogin">
            <button class="button is-link is-light is-medium is-outlined">Login</button>
          </a>
            <a href="/newuser">
              <button class="button is-link is-light is-medium is-outlined">Create a New Account</button>
            </a>
        </div>
      </div>
    </section>
      <!-- Add a href for login button -->
  </body>
</html>