<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TubeTrendz Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-4">
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <div class="card">
        <div class="card-header">
          <h2>Tubetrendz Login</h2>
          <form action="login_user" method="POST">
            <!-- First Name Entry -->
            <div class="form-group">
              <label for="firstName">Username</label>
              <input type="email" class="form-control col-lg-9" id="username" aria-describedby="emailHelp" placeholder="Enter username" name="username">
            </div>
            <!-- Last Name Entry -->
            <div class="form-group"> 
              <label for="password">Password</label>
              <input type="text" class="form-control col-lg-9" id="password" aria-describedby="emailHelp" placeholder="Enter password" name="password">
            </div>
            <button class="button is-primary" href="/trends">Login</button>
          </form>
    </div>
  </div>
  </body>
</html>